* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://ichef.bbci.co.uk/news/640/cpsprodpb/38C3/production/_105013541_gettyimages-530944604.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: white;
    font-family: serif;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.countdown {
    display: flex;
    align-items: center;
    margin: 15px;
    position: relative;
    left: 10em;
}

h1{
    padding: 1em;
}

.ano{
    position: relative;
    top: 2em;
    right: 4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
}
